*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --text-size--responsive: 62.5%; /* 1rem = 16px */

  --text-size-default: 1.8rem;

  --color-primary: hsl(322, 100%, 66%);
  --color-accent-cyan-light: hsl(193, 100%, 96%);
  --color-accent-cyan-dark: hsl(192, 100%, 9%);
  --color-accent-grey: hsl(208, 11%, 55%);

  --text-family--headings: "Poppins", sans-serif;
  --text-family--body: "Open Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: var(--text-size--responsive);
}

body {
  font-family: var(--text-family--body);
  font-size: var(--text-size-default);

  height: 100vh;
}
