@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }

  body {
    height: 100%;
  }

  #hero {
    flex-direction: column;
    text-align: center;
  }

  .card {
    flex-direction: column;
    text-align: center;
  }

  .card-img {
    order: -1;
  }

  .card-title {
    margin: 2rem 0;
  }

  .card-paragraph {
    line-height: 1.9;
  }

  .popup {
    width: 90%;
    padding: 4.5rem 3rem;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-location {
    width: 100%;
  }

  .copyright {
    align-self: center;
  }

  .location-list li p {
    overflow-wrap: normal;
  }

  .location-list li,
  .links-list li,
  .social-media__list {
    margin-bottom: 2rem;
  }
}
